*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: Arial, Helvetica, sans-serif;    
}

/* ANIMATION - BODY */
@keyframes load-page {
    from{
        opacity: 20%;
    }
    to{
        opacity: 100%;
    }
}

body{
    animation: load-page 1s;
}

/* HEADER */
header{            
    background: url(imgs/AI-background.jpg) no-repeat;
    background-size: cover;         
    align-items: center;    
}

.header-content{                
    background-color: #ffffff71;
    text-align: center;
    padding: 2.5rem 2.5rem .5rem 2.5rem;    
    color: #fff;    
}

.logo img{
    width: 10vmax;
    height: 9vmax;
    filter: invert();    
    float: left;
    padding-bottom: 10px;
}

.logo h1{
    font-size: 5vw;
    font-weight: 500;
}

.logo p{
    color: #ffa500;
    font-size: 70%;
}

.topics{
    margin: 3% 0 2% 0;
}

.topics nav{
    margin: 1% 0 1% 0;
}

.topics ul{    
    display: flex;
    justify-content: center;
    gap: 2%;
    list-style: none;
}

.topics a{    
    transition: .2s;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    color: #fff;    
    padding: .5rem;
    border-radius: 20px 20px 0 0;
}

.topics a:focus,
.topics a:hover{
    transition: .2s;    
    border-bottom: 1px solid #ffd500;
    color: #ffd500;
}

/* ANIMATION */
@keyframes margin-container{
    from{
        margin-left: -40px;
        opacity: 20%;
    }   
    to{
        margin-left: 0;
        opacity: 100%;
    }
}

.ai-infos{    
    animation: margin-container 3s;
    padding: 8vmax;
    background-color: #ffffff48;
    border-bottom: 6px double #fff;
}

.ai-infos h2{    
    font-size: 5vmax;
    font-weight: 500;
    color: #ffd500;
}

.ai-infos p{
    color: #fff;
    font-size: 2.5vmax;        
}

/* ANIMATION */
@keyframes load-bar {
    from{
        width: 0;
    }   
    to{
        width: 100%;
        opacity: 50%;
    }
}

#animation{
    animation: load-bar .5s 5;
    background-color: #fff;
    opacity: 50%;
    width: 100%;
    height: .2vmax;
    display: block;
}

/* SECTION */
.sessions div{    
    text-align: justify left;
    color: #fff;
    padding: 2%;
    background-color: #1282A2;
}

.sessions div:nth-child(odd){    
    color: #111;
    background-color: #fffa;
    color: #1282A2;
}

.sessions div:nth-child(odd) img{
    float: left;
    background-color: #ffa500;
}

.sessions img{
    width: 30vmax;
    height: 30vmax;
    float: right;    
    border-radius: 100%;
    margin: 2%;
}

.sessions h2,
.sessions h3{
    color: #ffa500;
    font-weight: 400;    
}

.sessions h2{
    font-size: 3vmax;
    background-color: #ffa500;
    color: #fff;
    display: inline;
    padding: 1%;    
}

.sessions h3{
    font-size: 2vmax;
}

.sessions p{
    font-size: 2vmax;
    margin: 1% 0 0 2%;
}

.text-list{
    margin: 20px;
}

.text-list li{
    margin: 20px;   
    text-align: left;
}

/* FOOTER */
footer{
    background-color: #ffa500;
    text-align: center;
    padding: 3rem 2rem;
    font-size: 1em;
}

footer a{
    color: #fff;
}

footer a:hover,
footer a:focus{
    color: #1282A2;
}

footer i{
    color: #fff;
    font-size: 90%;
}